*.o
*.sw*
*.tmp
/*.txt
/flann
Makefile2
colortest
gate
gate_bench
gate_bin
gate_bin_2
gate_bin_fast
gate_csimd
gate_generator
gate_inline
gate_pb
gate_plt
gate_profile
gate_profile_long
gmon.out
matrix_benchmark
out*
tests/*.o
tests/bin_test
